.class public myClass
.super java/lang/Object

.method public <init>()V
	aload_0
	invokenonvirtual java/lang/Object/<init>()V
	return
.end method

.method public static main([Ljava/lang/String;)V
	.limit stack 3
	.limit locals 4

	aload_1
	iconst_2
	invokevirtual myClass/put(I)V
	iload_2
	iload_3
	invokestatic ExMain/mult(II)I
	return
.end method

.method public check()V
	.limit stack 1
	.limit locals 1

	aload_0
	invokespecial java/lang/Object/<init>()V
	return
.end method
