.class public Fac
.super java/lang/Object

.field private 'a' I

.method public <init>()V
	aload_0
	invokenonvirtual java/lang/Object/<init>()V
	return
.end method

.method public check(I)V
	.limit stack 4
	.limit locals 3

	new Fac
	dup
	invokespecial Fac/<init>()V
	astore_2
	new Fac
	dup
	iconst_2
	invokespecial Fac/<init>(I)V
	astore_2
	return
.end method
